name: Publish package to the Maven Central Repository
on:
  release:
    types: [created]
jobs:
  publish:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
          gpg-private-key: ${{ secrets.RELEASES_GPG_PRIVATE_KEY }}
      - name: Set Version
        run: mvn --batch-mode versions:set -DnewVersion=${{ github.event.release.name }} -DgenerateBackupPoms=false
      - name: Publish
        run: mvn --batch-mode -DskipTests=true deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.RELEASES_GPG_PASSPHRASE }}
